<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--保证实现了shiro内部lifecycle函数的bean的执行-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor">

    </bean>

    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.Md5CredentialsMatcher">

    </bean>


    <!--缓存管理器  使用内存缓存-->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager">

    </bean>


    <!--<bean id="jdbcRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">-->
        <!--<property name="credentialsMatcher" ref="credentialsMatcher"/>-->
        <!--<property name="permissionsLookupEnabled" value="true"/>-->
        <!--<property name="dataSource" ref="dataSource"/>-->
        <!--<property name="authenticationQuery"-->
                  <!--value="select password from tes_user where username = ?"/>-->
        <!--<property name="userRolesQuery"-->
                  <!--value="select name from tes_role"-->
    <!--</bean>-->
    <bean id="jdbcRealm" class="co.bugu.tes.shiro.JdbcRealm">

    </bean>


    <!--安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="jdbcRealm"/>
        <!--<property name="cacheManager" ref="cacheManager"/>-->
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/views/login.jsp"/>
        <property name="successUrl" value="/views/success.jsp"/>
        <property name="unauthorizedUrl" value="/views/unauthorized.jsp"/>
        <property name="filterChainDefinitions">
            <value>
                <!--anno表示此地址不需要任何的权限即可访问-->
                /views/index.do=anon
                /v1/user/index.do=anon
                /user/login.do=anon

                <!--表示访问该url需要user：query的权限 -->
                /user=perms[user:query]

                <!--表示访问此链接需要用户角色为manager-->
                /user/add=roles[manager]

                <!--除了以上配置的请求外，其他请求都需要使用authc验证，未登录直接跳转到/login-->
                /**=authc
            </value>
        </property>
    </bean>

    <mvc:annotation-driven/>

    <!--开始shiro注解-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true"/>
    </bean>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
</beans>