<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tes.user" >
    <resultMap id="UserMap" type="co.bugu.tes.domain.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectById" resultMap="UserMap" parameterType="int">
        select * from tes_user WHERE id = #{id}
    </select>


    <select id="selectByObject" resultMap="UserMap" parameterType="co.bugu.tes.domain.User">
        SELECT * FROM tes_user WHERE id = #{id} and username = #{username}
    </select>

    <select id="findByObject" resultMap="UserMap" parameterType="co.bugu.tes.domain.User">
        SELECT * from tes_user
    </select>

    <insert id="insert" parameterType="co.bugu.tes.domain.User" keyProperty="id" useGeneratedKeys="true">
        insert into tes_user(id, username, password) values (#{id}, #{username}, #{password})
    </insert>
</mapper>